<div>
	<h1>Shorten your url</h1>

	<div id="resultDiv" class="row" ng-show="currentShortUrl != ''">
		<div id="resultUrl" class="alert alert-success col-lg-12">{{currentShortUrl}}</div>
	</div>

	<div id="valuesDiv" class="row">
		<form class="form" role="form" ng-submit="shortenUrl(longUrlText)">
			<div class="form-group">
				<label class="sr-only" for="">Long url</label> <input type="text"
					class="form-control" id="longUrlText" ng-model="longUrlText"
					placeholder="Your long url here...">
			</div>
			<button type="submit" class="btn btn-lg btn-success lead">Shorten
				me !</button>

		</form>
	</div>
</div>
